regex==2017.4.5
requests==2.27.1

huggingface_hub==0.14.1
safetensors==0.3.1

print-color==0.4.6
tqdm==4.65.0
einops==0.6.1
streamlit==1.23.1
python-dotenv==1.0.0
pandas==2.0.2

-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]==0.4.11
