numpy==1.24.1 # used for the actual model code/weights
regex==2017.4.5 # used by the bpe tokenizer
requests==2.27.1 # used to download gpt-2 files from openai
fire==0.5.0 # easy CLI creation

scipy==1.10.1

huggingface_hub==0.14.1
safetensors==0.3.1

print-color==0.4.6

jax[cpu]==0.4.11
